{
    "parser"  : "babel-eslint",
    "extends" : [
        "eslint:recommended",
        "plugin:react/recommended"
    ],
    "plugins": [
    ],
    "settings": {
        "react": {
            "version": "detect"
        }
    },
    "env" : {
        "browser" : true,
        "es6": true
    },
    "globals": {
        "__DEV__": false,
        "it": true,
        "module": true,
    },
    "rules": {
        "indent": [2, 4],
        "semi": [2, "always"],
        "quotes": [2, "double"],
        "no-console": ["error", { "allow": ["warn", "error"] }],
        "no-unused-vars": ["error", { "args": "none" }]
    }
}
